{
	"agentServicePath":"c:/temp/agentService" , 
	"serverCaPath":"C:/temp/csr/cafesoftCa.crt",
	"instPassword":"a10097",
	"serverRegAgentPath":"https://localhost/regAgent",
	"serverChekTrustConectionPath":"https://localhost/chekTrust"
	
}